/*Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

html
{
  height:100%;
}

/* Formats for the body*/
body
{
  height:100%;
  padding:0;
  margin:0;
  position:relative;
}

/*Format for the main content area*/
main
{
  width:80%;
  margin-left:10%;
  position:relative;

  font-family:'Roboto', sans-serif;
  font-size:18pt;
  clear:both;
}

/*Styles for header and content*/
header, header a
{
  width:100%;
  background-color: #3366cc;
  overflow:hidden;
  padding-bottom:0.1em;
  /* position:sticky;*/
  top:0;

  font-family:'Oswald', sans-serif;
  font-size:21pt;
  color:white;
}

/*Style for footer*/ /*More styling in seperate files*/
footer p, footer a, footer p span a
{
  margin-left:3em;
  margin-right:3em;
}

/* Removes all formatting from the nav */
header nav ul li, #navigation a, #logo a
{
  list-style-type:none;
  display:inline;
  text-decoration:none;
}

@keyframes lineAnim
{
  25% {border-color:white;}
  50% {border-color:#3399ff;}
  75% {border-color:white;}
  100% {border-color:#3366cc;}
}

/*Animation for when the user hovers over the navigation*/
#navigation ul li a:hover
{
  animation-name:lineAnim;
  animation-duration:3s;
  animation-iteration-count:infinite;
  border-bottom:3px solid #3366cc;
  border-bottom:3px solid #3399ff;
}

/*Created a small space inbetween navigation list elements*/
header li a
{
  margin-left:0.5em;
}

/* Pushes the navigation away from the wall of the browser window */
header nav
{
  margin-right:1em;
}

/* Pushes the logo away from the wall of the browser window */
#logo
{
  margin-left:1em;
}

/*Handles floating the nav elements left*/
.navFloatLeft
{
  float:left;
  width:50%;
}

/*Handles floating the nav elements right*/
.navFloatRight
{
  float:right;
  width:50%;
  text-align:right;
}

h3 span
{
  border-bottom:0.07em solid black;
}
