$theme-colors: (
    "primary": #7f48e6
);

$body-bg: rgb(226, 226, 226);

$card-height: 90%;

.jumbotron {
    background-color: #ffffff !important;
}

.navbar-brand {
    margin-left:0.7em;
}

.navbar-nav {
    margin-right:0.7em;
}

.navbar {
    margin-bottom:1em;
}

.education-img {
    width: 5em;
    height: 5em;
}

@import "~bootstrap/scss/bootstrap";